<div class="page-header">
  <h1>Restriction #<%= @restriction.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Starter</dt>
  <dd><%= @restriction.starter_id %></dd>

  <dt>Entree</dt>
  <dd><%= @restriction.entree_id %></dd>

</dl>
