<div class="page-header">
  <h1>Starter #<%= @starter.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @starter.name %></dd>

  <dt>Description</dt>
  <dd><%= @starter.description %></dd>

  <dt>Category</dt>
  <dd><%= @starter.category_id %></dd>

</dl>
